/* Add bootstrap jumbotron (not support in bs5) */
.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

/* Minus icon for list view delete */
.icon-delete {
    color: red;
}

.icon-delete:hover .fa-minus:before {
    color: red;
    content: "\f146";
}