{% extends 'main.html' %}
{% load static %}

{% block title %}
DACME KANBAN - {{board.number}}
{% endblock %}

{% block content %}
    <div class="container-fluid px-0 mx-0">
        <div class="card bg-light h-full-screen">
            <div class="card-header mb-0">
                <h4 class="text-center">{{board.number}}</h4>
                <h1 class="text-center">{{board.name}}</h1>
            </div>
            <div class="card-body p-0">
                <div id="app">
                    <div class="card-group g-0 justify-content-center">
                        <!--
                        <lane-comp
                            v-for="lane in lanes"
                            v-bind:lane="lane"
                            v-bind:cards="cards"
                            v-bind:key="lane.number"
                        ></lane-comp>
                        -->
                        {% if lanes %}
                            {% for lane in lanes %}
                                <div class="col">
                                    {% if lane.is_worked %}
                                        <div class="card bg-white h-full-screen">
                                    {% else %}
                                        <div class="card bg-light h-full-screen">
                                    {% endif %}
                                        <div class="card-header">
                                            <div class="d-flex justify-content-around align-items-center">
                                                <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#laneModal{{lane.number}}">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <div class="align-self-stretch">
                                                    <h6 class="text-center">{{lane.number}}</h6>
                                                    <h3 class="text-center">{{lane.name}}</h3>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            
                                            <card-comp
                                                v-for="card in cardsForThisLane({{lane.id}})"
                                                v-bind:card="card"
                                                v-bind:showfooter="showFooter"
                                                v-bind:key="card.name"
                                                @mouseover.native="selectCardNumber(card.number)"
                                                @mouseleave.native="showFooter = null"
                                            ></card-comp>
                                            
                                            <!--
                                            {% for card in cards %}
                                                {% if card.lane == lane %}
                                                    <div class="card mt-3 mb-4 mx-3 bg-info">
                                                        <div class="card-header">
                                                            <h6 class="text-center">{{card.number}}</h6>
                                                            <h4 class="text-center">{{card.name}}</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            {{card.description}}
                                                        </div>
                                                        <div class="card-footer d-flex justify-content-center">
                                                            <a href="#" class="btn btn-secondary btn-sm pb-2 mx-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="#" class="btn btn-primary btn-sm pb-2 mx-2">Details</a>
                                                            <a href="#" class="btn btn-secondary btn-sm pb-2 mx-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            -->
                                        </div>
                                    </div>
                                </div>
                                {% include 'lane-modal.html' with lane=lane %}
                            {% endfor %}
                        {% else %}
                            
                            <div class="jumbotron">
                                <h1 class="display-4 text-center">Create Lanes</h1>
                                <p class="lead text-center">
                                    This Kanban has no lanes.  Please create lanes to begin.
                                </p>
                                
                                <div class="row justify-content-center">
                                    <div class="d-grid gap-2 col mx-auto">
                                        <hr class="my-4">
                                        <p class="text-center">
                                            Choose Create Default Lanes to create three lanes:<br />To Do, Working, and Completed.
                                        </p>
                                        <p class="text-center">
                                            To make your own lanes, choose Create Custom Lanes.
                                        </p>
                                        <a class="btn btn-primary btn-lg my-3" href="{% url 'create-defualt-lanes' number=board.number %}">
                                            Create Default Lanes
                                        </a>
                                        <a class="btn btn-primary btn-lg my-3" href="{% url 'lane-create' number=board.number %}">
                                            Create Custom Lanes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ lanes_serialized|json_script:"lanes_serialized" }}
    {{ cards_serialized|json_script:"cards_serialized" }}

    <script>
        //Show Create Lane link in navbar
        document.getElementById("createLaneDivider").hidden=false;
        document.getElementById("createLaneAnchor").hidden=false;
        //Set Create Lane link href
        document.getElementById("createLaneAnchor").href="{% url 'lane-create' number=board.number %}"
        //Get serialized JSONs
        var vLanes = JSON.parse(document.getElementById('lanes_serialized').textContent);  
        var vCards = JSON.parse(document.getElementById('cards_serialized').textContent);  

        //Call card_change_lane_view
        function cardChangeLane(url) {
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrftoken,
                },
            })
            .then((response) => response.json())
            .then((data) => {
                app.cards = data
                app.showFooter = null
            })
        }

        const cardComp = Vue.component('card-comp', {
            delimiters: ["[[", "]]"],
            props: ['card', 'showfooter'],
            methods: {
                cardChangeLane: cardChangeLane
            },
            template: `
                <div class="card mt-3 mb-4 mx-3 bg-info">
                    <div class="card-header">
                        <h6 class="text-center">[[card.number]]</h6>
                        <h4 class="text-center">[[card.name]]</h4>
                    </div>
                    <div class="card-body pt-0 pb-4" v-show="showfooter === card.number || card.lane_is_worked">
                        <div class="show-formatting">
                            [[card.description]]
                        </div>
                    </div>
                    <div v-show="showfooter === card.number">
                        <div class="card-footer d-flex justify-content-center">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm pb-2 mx-2" v-on:click="cardChangeLane('/card-change-lane/{{board.id}}/prev/'+[[card.id]])" v-if="card.lane_location !== 'start'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                </svg>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm pb-2 mx-2">Details</a>
                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm pb-2 mx-2" v-on:click="cardChangeLane('/card-change-lane/{{board.id}}/next/'+[[card.id]])" v-if="card.lane_location !== 'end'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            `
        })

        const laneComp = Vue.component('lane-comp', {
            delimiters: ["[[", "]]"],
            props: ['lane', 'cards'],
            components: {
                cardComp
            },
            methods: {
                cardsForThisLane: function(laneID) {
                    return this.cards.filter(function (card) {
                        return card.lane === laneID
                    })
                }
            },
            template: `
                
                <div class="col">
                    <div class="card bg-light h-full-screen">
                        <div class="card-header">
                            <h6 class="text-center">[[lane.number]]</h6>
                            <h3 class="text-center">[[lane.name]]</h3>
                        </div>
                        <div class="card-body">
                            <card-comp
                                v-for="card in cardsForThisLane(lane.id)"
                                v-bind:card="card"
                                v-bind:key="card.number"
                            ></card-comp>
                        </div>
                    </div>
                </div>
            
            `
        })

        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#app',
            components: {
                cardComp,
                laneComp
            },
            data: {
                lanes : vLanes,
                cards : vCards,
                showFooter: '',
            },
            methods: {
                cardChangeLane: cardChangeLane,
                selectCardNumber: function(number) {
                    this.showFooter = number
                },
                cardsForThisLane: function(laneID) {
                    return this.cards.filter(function (card) {
                        return card.lane === laneID
                    })
                },
                
            }
        })

    </script>

    <style>
        .h-full-screen {
            height: 100vh;
        }
        .show-formatting {
            white-space: pre-line;
            word-break: keep-all;
        }
    </style>

{% endblock %}
