{% extends 'main.html' %}
{% load static %}

{% block title %}
DACME KANBAN - {{board.number}}
{% endblock %}

{% block content %}
    <div class="container-fluid px-0 mx-0">
        <div class="card bg-light h-full-screen">
            <div class="card-header mb-0">
                <h4 class="text-center">{{board.number}}</h4>
                <h1 class="text-center">{{board.name}}</h1>
            </div>
            <div class="card-body p-0">
                <div id="app">
                    <div class="card-group g-0 justify-content-center">
                        {% if lanes %}
                            {% for lane in lanes %}
                                <div class="col">
                                    {% if lane.is_worked %}
                                        <div class="card bg-white h-full-screen">
                                    {% else %}
                                        <div class="card bg-light h-full-screen">
                                    {% endif %}
                                        <div class="card-header">
                                            <div class="d-flex justify-content-around align-items-center">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#laneModal{{lane.number}}" title="Lane Options">
                                                    <i class="fas fa-bars"></i>
                                                </button>
                                                <div class="align-self-stretch">
                                                    <h6 class="text-center">{{lane.number}}</h6>
                                                    <h3 class="text-center">{{lane.name}}</h3>
                                                </div>
                                                <div>
                                                    {% if lane.is_beginning %}
                                                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cardCreateModal" title="Add Card">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                        {% include 'card-create-modal-vue.html' with lane=lane %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <card-comp
                                                v-for="card in cardsForThisLane({{lane.id}})"
                                                v-bind:card="card"
                                                v-bind:showfooter="showFooter"
                                                v-bind:key="card.name"
                                                @mouseover.native="selectCardNumber(card.number)"
                                                @mouseleave.native="showFooter = null"
                                            ></card-comp>
                                        </div>
                                    </div>
                                </div>
                                {% include 'lane-modal.html' with lane=lane %}
                            {% endfor %}
                        {% else %}
                            
                            <div class="jumbotron">
                                <h1 class="display-4 text-center">Create Lanes</h1>
                                <p class="lead text-center">
                                    This Kanban has no lanes.  Please create lanes to begin.
                                </p>
                                
                                <div class="row justify-content-center">
                                    <div class="d-grid gap-2 col mx-auto">
                                        <hr class="my-4">
                                        <p class="text-center">
                                            Choose Create Default Lanes to create three lanes:<br />To Do, Working, and Completed.
                                        </p>
                                        <p class="text-center">
                                            To make your own lanes, choose Create Custom Lanes.
                                        </p>
                                        <a class="btn btn-primary btn-lg my-3" href="{% url 'create-defualt-lanes' number=board.number %}">
                                            Create Default Lanes
                                        </a>
                                        <a class="btn btn-primary btn-lg my-3" href="{% url 'lane-create' number=board.number %}">
                                            Create Custom Lanes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ cards_serialized|json_script:"cards_serialized" }}

    <script>

        //Show Create Lane link in navbar
        document.getElementById("createLaneDivider").hidden=false;
        document.getElementById("createLaneAnchor").hidden=false;
        //Set Create Lane link href
        document.getElementById("createLaneAnchor").href="{% url 'lane-create' number=board.number %}"

        //Render cards component
        const cardComp = Vue.component('card-comp', {
            delimiters: ["[[", "]]"],
            props: ['card', 'showfooter'],
            methods: {
                cardChangeLane: function(url) {
                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        app.cards = data
                        app.showFooter = null
                    })
                }
            },
            template: `
                <div class="card mt-3 mb-4 mx-3 bg-info">
                    <div class="card-header">
                        <h6 class="text-center">[[card.number]]</h6>
                        <h4 class="text-center">[[card.name]]</h4>
                    </div>
                    <div class="card-body pt-0 pb-4" v-show="showfooter === card.number || card.lane_is_worked">
                        <div class="show-formatting">
                            [[card.description]]
                        </div>
                    </div>
                    <div v-show="showfooter === card.number">
                        <div class="card-footer d-flex justify-content-center">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm pb-2 mx-2" v-on:click="cardChangeLane('/card-change-lane/{{board.id}}/prev/'+[[card.id]])" v-if="card.lane_location !== 'start'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                </svg>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm pb-2 mx-2">Details</a>
                            <a href="javascript:void(0)" class="btn btn-secondary btn-sm pb-2 mx-2" v-on:click="cardChangeLane('/card-change-lane/{{board.id}}/next/'+[[card.id]])" v-if="card.lane_location !== 'end'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            `
        })

        //Vue JS - app
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#app',
            components: {
                cardComp,
            },
            data: {
                cards : JSON.parse(document.getElementById('cards_serialized').textContent),
                showFooter: '',
                cardFormData: {
                    name: document.getElementById("card-name").value,
                    lane: document.getElementById("card-lane").value,
                    description: document.getElementById("card-desc").value,
                    priority: document.getElementById("card-priority").value,
                    owner: document.getElementById("card-owner").value,
                }
            },
            methods: {
                //Toggle showFooter when equal to card number
                selectCardNumber: function(number) {
                    this.showFooter = number
                },
                //Get cards for a lane
                //Filter card JSON by lane id
                cardsForThisLane: function(laneID) {
                    return this.cards.filter(function (card) {
                        return card.lane === laneID
                    })
                },
                //Create new card using Django REST API
                submitted: function() {
                    console.log('submitted')
                    console.log(JSON.stringify(this.cardFormData))
                    fetch('http://127.0.0.1:8000/api/cards/', {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify(this.cardFormData)
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        //Render new data to DOM
                        this.cards = data
                        this.showFooter = null
                        //Clear cardFormData
                        this.cardFormData.name = ''
                        this.cardFormData.description = ''
                    })
                }
            }
        })

    </script>

    <style>
        .h-full-screen {
            height: 100vh;
        }
        .show-formatting {
            white-space: pre-line;
            word-break: keep-all;
        }
    </style>

{% endblock %}
