<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
{% for board in boards %}

    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://via.placeholder.com/150x100" class="card-img-top img-fluid rounded">
            <div class="card-body">
                <h4 class="card-title text-center">{{board.name}}</h4>
                <p class="card-text text-center">Description</p>
            </div>
        </div>
    </div>


    



{% endfor %}
</div>