<!-- Modal -->
<div class="modal fade" id="cardCreateModal" tabindex="-1" aria-labelledby="cardCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="cardCreateModalLabel">
                    <h4 class="mb-2">ADD CARD</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCard">
                        <div class="mb-3">
                            <label for="card-name" class="form-label"><strong>Name:</strong></label>
                            <input type="text" class="form-control" id="card-name">
                        </div>
                        <div class="mb-3">
                            <label for="card-desc" class="form-label"><strong>Description:</strong></label>
                            <textarea class="form-control" id="card-desc" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="card-priority" class="form-label"><strong>Priority:</strong></label>
                            <select class="form-select" aria-label="card-priority" id="card-priority">
                                {% for priority in priorities %}                        
                                    {% if priority.default_value %}
                                    <option value="{{priority.value}}" selected>{{priority.name}}</option>
                                    {% else %}
                                        <option value="{{priority.value}}">{{priority.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-lg" id="submitCardFor{{lane.number}}">Submit</button>
              </div>
        </div>
    </div>
</div>

<script>




    var form = document.getElementById('createCardFor{{lane.number}}')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Checkout Form submitted...')
    })

    document.getElementById('submitCardFor{{lane.number}}').addEventListener('click', function(e) {
        submitFormData()
    })

    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        var cardFormData = {
            'name': '',
            'description':null,
            'priority':null,
            'lane': '{{lane.id}}',
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode1 = form.zipcode1.value
        }


        var url = '/store/process_order/'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');

            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

            
        })
    }

</script>