<!-- Modal -->
<div class="modal fade" id="cardCreateModal" tabindex="-1" aria-labelledby="cardCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="cardCreateModalLabel">
                    <h4 class="mb-2">ADD CARD</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createCard">
                    <div class="mb-3">
                        <label for="card-name" class="form-label"><strong>Name:</strong></label>
                        <input type="text" class="form-control" id="card-name" v-model="cardFormData.name">
                    </div>
                    <div class="mb-3">
                        <label for="card-desc" class="form-label"><strong>Description:</strong></label>
                        <textarea class="form-control" id="card-desc" rows="3" v-model="cardFormData.description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="card-priority" class="form-label"><strong>Priority:</strong></label>
                        <select class="form-select" aria-label="card-priority" id="card-priority" v-model="cardFormData.priority">
                            {% for priority in priorities %}                        
                                {% if priority.default_value %}
                                    <option value="{{priority.value}}" selected>{{priority.name}}</option>
                                {% else %}
                                    <option value="{{priority.value}}">{{priority.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="card-lane" v-model="cardFormData.lane" value={{lane.id}} hidden>
                        <input type="text" class="form-control" id="card-owner" v-model="cardFormData.owner" value={{request.user.id}} hidden>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-lg" id="submitCard" data-bs-dismiss="modal" v-on:click.prevent="submitted">Submit</button>
              </div>
        </div>
    </div>
</div>
