{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
DACME KANBAN - Create Lane
{% endblock %}

{% block content %}
<div class="container-fluid px-0 mx-0">
    <div class="card bg-light border-bottom-0">
        <div class="card-header mb-0">
            {% if object %}
                <h4 class="text-center">Update Lane</h4>
                <h6 class="text-center">{{object.number}}</h6>
            {% else %}
                <h4 class="text-center">Create Lane</h4>
            {% endif %}
        </div>
        <div class="card-body p-0">
            <div class="row justify-content-center m-3">
                <div class="col-md-4">
                    <div class="card p-3">
                        <form method="POST">
                            {% csrf_token %}
                            {% include 'form-errors.html' with form=form %}
                            <label for="{{form.name.id_for_label}}"><strong>{{form.name.label}}:</strong></label>
                            {{form.name|add_class:'form-control'}}
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="{{form.path.id_for_label}}"><strong>{{form.path.label}}:</strong></label>
                                    {{form.path|add_class:'form-control'}}
                                </div>
                                <div class="col">
                                    <label for="{{form.queue_max.id_for_label}}"><strong>{{form.queue_max.label}}:</strong></label>
                                    {{form.queue_max|add_class:'form-control'}}
                                </div>
                                <div class="col">
                                    <label for="{{form.is_worked.id_for_label}}"><strong>{{form.is_worked.label}}:</strong></label><br>
                                    {{form.is_worked|add_class:'form-check-input form-control-sm'}}
                                </div>
                            </div>
                            <div class="d-grid mt-3">
                                <button class="btn btn-success btn-lg m-3" name="submit" value="submit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}